[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distrom"]
	path = distrom
	url = https://github.com/taddylab/distrom
[submodule "gamlr"]
	path = gamlr
	url = https://github.com/taddylab/gamlr
[submodule "maptpx"]
	path = maptpx
	url = https://github.com/taddylab/maptpx
[submodule "textir"]
	path = textir
	url = https://github.com/taddylab/textir
