[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "distrom"]
	path = distrom
	url = https://github.com/taddylab/distrom
	shallow = true
	registered = true
[submodule "gamlr"]
	path = gamlr
	url = https://github.com/taddylab/gamlr
	shallow = true
	registered = true
[submodule "maptpx"]
	path = maptpx
	url = https://github.com/taddylab/maptpx
	shallow = true
	registered = true
[submodule "textir"]
	path = textir
	url = https://github.com/taddylab/textir
	shallow = true
	registered = true
